.navbar {
    position: relative;
    width: 100%;
    height: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 250px;
    border-bottom: 1px solid #E6E6E6;
}

.navbar nav ul {
    display: flex;
    justify-content: space-between;
    width: 410px;
}

.navbar nav ul li a {
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 1.09091px;
    transition: .2s;
}

.navbar nav ul li a:hover {
    color: #00A4E5;
}